body {
  background: rgb(40, 40, 40);
  color: white;
  font-size: 16px;
  padding: 0 10%;
}

:global(.container) {
  width: auto;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.header {
  background-color: darkgray;
  padding: 20px;
}
.menuButton {
  color: black;
}
