
.wrapper {
  background-color: lightgray;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30px;
}

.memberDetail {
  flex-basis: 100%;
  flex: 0 0 20%;
  overflow-wrap: break-word;
}

.titleBar {
  font-weight: bold;
  font-size: 1.4em;
}

.schedule-option-excluded {
  background-color: yellow;
}

.schedule-option-not-excluded {
  background-color: white;
}
