/* Schedule */
.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;

}

.row {
  display: flex;
  flex-flow: row nowrap;
}
.memberDetail {
  /*margin-left: 25px;*/
  flex-grow: 10;
}
